
NumberNames/.vs/NumberNames/v16/.suo
NumberNames/.vs/NumberNames/v16/Browse.VC.db
NumberNames/.vs/NumberNames/v16/Browse.VC.db-shm
NumberNames/.vs/NumberNames/v16/Browse.VC.db-wal
NumberNames/.vs/NumberNames/v16/Browse.VC.opendb
NumberNames/.vs/NumberNames/v16/ipch/AutoPCH/2090ae46a257b027/_TEST.ipch
NumberNames/.vs/ProjectSettings.json
NumberNames/.vs/slnx.sqlite
